@import url("https://fonts.googleapis.com/css?family=Audiowide");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");


*{
    box-sizing: border-box;
    transition: all 0.4s;
}
body{
    font-family: "Ubuntu", sans-serif;
    /* background-color: rgb(19, 83, 83); */
    /* background-color: rgb(44, 44, 44); */
    /* background-image: url("./back2.jpg"); */
    background-color: rgb(32, 32, 32);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
a{
    text-decoration: none;
}
.home_header{
    display: flex;
    justify-content: space-evenly;
}
.home_logo{
    border: 2px;
    border-radius: 6px;
    margin: 20px;
    /* backdrop-filter: blur(10px); */
    background-color: white;
    box-shadow: 1.5px 1.5px 1.5px 1.5px black;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.home_logo img{
    height: 60px;
    width: auto;
}
.home_dropdown{
    display: none;
    position: absolute;
    background-color: white;
    padding: 20px;
    box-shadow: 1.5px 1.5px 1.5px 1.5px;
    transform: translateY(140px);
    border-radius:12px;
}
.home_dropdown a{
    background-color: rgb(143, 25, 25);
    padding: 10px;
    border-radius: 12px;
    color: white;
    box-shadow: 1.5px 1.5px 1.5px 1.5px black;
    border: 1px solid rgb(143, 25, 25);
}
.home_dropdown a:hover{
    background-color: brown;
}
.home_dropdown a:active{
    box-shadow: inset 1px 1px 1px 1px rgb(27, 27, 27);
}
.home_logo:hover{
    background-color: brown;
}
.home_logo:hover .home_dropdown{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 35px;
}
.home_maintitle{
    border: 2px;
    border-radius: 6px;
    margin: 20px 20px 20px 0;
    /* backdrop-filter: blur(10px); */
    background-color: white;
    box-shadow: 1.5px 1.5px 1.5px 1.5px black;
    width: 1200px;
}
.home_header h1{
    font-family: "Audiowide", sans serif;
    text-align: center;
    font-size: 45px;
    /* color: rgb(42, 42, 90); */
    color: rgb(172, 26, 26);
    text-shadow: 1.5px 1.5px black;
}
.home_header h1:hover{
    color:rgb(151, 28, 28);
}
.home_navbar{
    padding: 15px;
    border: 2px;
    border-radius: 6px;
    margin: 0 20px 0 20px;
    /* backdrop-filter: blur(10px); */
    background-color: white;
    box-shadow: 1.5px 1.5px 1.5px 1.5px black;
}
.home_navbar ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-right: 45px;
}
.home_navbar a{
    color:white;
    padding: 15px;
    /* background-color: rgb(23, 143, 143); */
    background-color: rgb(143, 25, 25);
    border-radius: 6px;
    width: 200px;
    text-align: center;
    font-weight: bold;
    box-shadow: 1.5px 1.5px 1.5px 1.5px rgb(0, 0, 0);
}
.home_navbar a:hover{
    /* background-color: rgb(53, 163, 163); */
    background-color: brown;
}
.home_navbar a:active{
    box-shadow: inset 1px 1px 1px 1px rgb(27, 27, 27);
}
.home_content{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;
    margin: 20px 15px 0 15px;
}
.home_content a{
    color: black
}
.card{
    border: 2px;
    border-radius: 6px;
    /* backdrop-filter: blur(10px); */
    background-color: white;
    box-shadow: 1.5px 1.5px 1.5px 1.5px black;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
}
.card img{
    height: 200px;
    margin: 10px;
    border-radius: 6px;
}
.card h2{
    text-align: center;
    font-family: "Audiowide", sans-serif;
}
.card:hover{
    /* background-color: rgb(23, 143, 143); */
    background-color: brown;
}
.card:active{
    box-shadow: inset 2px 2px 2px 2px black;
}
.home_footer{
    /* backdrop-filter: blur(10px); */
    background-color: white;
    position: fixed;
    bottom: 0;
    width: calc(100% - 40px);
    border: 2px;
    border-radius: 6px;
    box-shadow: 1.5px 1.5px 1.5px 1.5px black;
    display: flex;
    justify-content: center;
    margin: 20px 20px 10px 20px;
    font-weight: bold;
}